@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/custom.css */

.header-button {
  transition: all 0.2s ease;
}
.header-button:hover {
  background-color: #e0f2f1;
}

/* Optional margin adjustments */
.nav-item {
  margin-left: 1.5rem;
}
